{% extends 'base.html.twig' %}

{% block title %}New Visitor{% endblock %}

{% block body %}
    <h1>Create new Visitor</h1>

    {{ include('visitor/_form.html.twig') }}

    <a href="{{ path('visitor_index') }}">back to list</a>
{% endblock %}
